
.wrap {
  border: 10px;
  max-width: 800px;
  margin: 0 auto;
}

section {
 border: 20px;
 min-height: 300px;
}

.topPadding{
  min-height: 75px;
}

.stPadding{
  min-height: 5px;
}

.padding{
  min-height: 105px;
}

a { font-family: 'Muli';}
.websitemenu { size:75;}
.websitemenu a:link {color: Black; text-decoration:none;}
.websitemenu a:visited {color:gray;}
.websitemenu a:hover {color:tan;}

.body{
  width: 652px;
  height: 100px;
}


/* Header */
.header{
  position: absolute;
  width: 1077px;
  height: 150px;
  left: 36px;
  top: 2%;
}

h1{
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  margin-top: 50px;
}

.subheader {
  font-family: Muli;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}


h2{
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 38px;
  fon

  
  text-transform: uppercase;

  letter-spacing: .2em;
  

  position: absolute;
  transform-origin: top left;
  transform: rotate(-90deg) translate(-100%, -80px);
  

/*  border: 1px;
*/}

@media (min-width: 800px){
  .row {

    border: 5px;
    display: flex;

  }

  .left, .right {
  border: 10px;
  padding: 30px ;
/*    align-self: flex-center;
*/
  /*  
    flex: 1;*/
   display: flex; 
  }
  .left {
    margin-right: 15px;
  /*  max-width: 400px;
  */}
  .right {
  /*margin-left: 15px;*/
  vertical-align: middle;
  }
}

.logo{
  position: absolute;
  width: 42px;
  height: 73px;
  left: 5%;
  top: 5%;
  transform: scale(0.7);

  background: url(MC-LOGO-02.png);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}


/* MC-Menu-01 1 */
.menu{
  position: absolute;
  width: 25px;
  height: 70px;
  left: 95%;
  top: 5%;

}

/* bfa projects | parsons */

h3{

font-family: Muli;
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 31px;
text-align: center;
letter-spacing: 0.05em;
}

.map{
width: 712px;
height: 464px;
}

h4{
font-family: Muli;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 25px;
text-align: left;
letter-spacing: 0.05em;
}


.quoteStyle{
font-family: Muli;
font-style: normal;
font-weight: 600;
font-size: 125px;
text-align: center;
letter-spacing: 0.5em;
text-transform: uppercase;
}

.callOut{
font-family: Muli;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 28px;
text-align: center;
letter-spacing: 0.25em;
text-transform: uppercase;

}

.img2C{
width: 316px;
height: 362px;
}

.bigImg{
width: 794px;
height: 554px;
}

.teamH{
font-family: Muli;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 38px;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
}
 .teamB{
font-family: Muli;
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 31px;
text-align: center;
letter-spacing: 0.05em;
 }




 .footerBack{
position: absolute;

width: 166px;
left: 72px;

font-family: Muli;
font-style: italic;
font-weight: normal;
font-size: 12px;
line-height: 15px;
text-align: center;
letter-spacing: 0.05em;
}


.footerNext{
position: center;


font-family: Muli;
font-style: italic;
font-weight: normal;
font-size: 12px;
line-height: 15px;
text-align: center;
letter-spacing: 0.05em;
}

.footerNext2{
  text-align: right;

font-family: Muli;
font-style: italic;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/*text-align: right;
*/letter-spacing: 0.05em;
}

.footerProject{
text-align: right;

font-family: Muli;

font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 33px;
letter-spacing: 0.05em;
}


.footerFirstLetter{
padding: 50px; 
text-align: center;

font-family: Muli;
font-style: normal;
font-weight: 600;
font-size: 126px;
line-height: 33px;
letter-spacing: 0.05em;
}

.footerNextButton{
/*position: right;
*/height: 123px;
position: absolute;
alignment-baseline: right;
transform: rotate(90deg);
}


.twoD{
width: 776px;
height: 1172px;
left: 199px;
top: 5225px;
}

.threeD{
  width: 809px;
height: 1428px;
position: center;
}

.wideImgHeader{
position:absolute;
width: 1052px;
height: 492px;
left: 0px;

}